.new-contact-section {
padding: 80px 20px;
background-color: #09101a;
color: #00cc88;

}
.Contact-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}

.new-contact-left {
  flex: 1;
  min-width: 300px;
}

.new-contact-left h1 {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.2;
}

.new-contact-left p {
  font-size: 1.05rem;
  color: white;
  line-height: 1.6;
  max-width: 600px;
}

.new-contact-right {
  flex: 1;
  min-width: 300px;
}

.new-contact-right h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.new-contact-right p {
  font-size: 1rem;
  color: cyan;
  margin-bottom: 25px;
  line-height: 1.6;
}

.new-contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.new-contact-form input,
.new-contact-form textarea {
  padding: 14px;
  background-color: #0f1117;
  border: 1px solid #00ffa3;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  outline: none;
}

.new-contact-form input::placeholder,
.new-contact-form textarea::placeholder {
  color: #888;
}

.new-contact-form button {
  padding: 16px;
  background-color: #00ffa3;
  color: #000;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.new-contact-form button:hover {
  background-color: #00cc88;
}
