.footer {
  background-color:black;
  
  padding: 40px 20px 20px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1 1 200px;
}

.footer-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #00ff95;
}

.footer-subtitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color:#00ff95 ;
}

.footer-text,
.footer-section p {
  font-size: 14px;
  color: cyan;
  line-height: 1.6;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  color: cyan;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #fff;
}

.footer-icons a {
  display: inline-block;
  color: #ccc;
  margin-right: 12px;
  font-size: 20px;
  transition: color 0.3s ease;
}

.footer-icons a:hover {
  text-shadow: 0 0 5px #e6b800;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  font-size: 13px;
  color: white;
  border-top: 1px solid #333;
  margin-top: 30px;
}

.hire-button {
  background-color:#00ff95;
  color: #000;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hire-button:hover {
  background-color: #e6b800;
}


 .footer-icons .bi-whatsapp {
  color: #05f35c;
  text-shadow: 0 0 5px #05f35c;
   font-size: 30px;
}

.footer-icons .bi-linkedin {
  color: #0480fc;
  text-shadow: 0 0 5px #0480fc;
   font-size: 30px;
}

.footer-icons .bi-facebook {
  color: #3b05fc;
  text-shadow: 0 0 5px #3b05fc;
   font-size: 30px;
}

.footer-icons .bi-github {
  color: #f505cd;
   font-size: 30px;
  text-shadow: 0 0 5px #f505cd;
}


.footer-icons .bi-whatsapp:hover,
.footer-icons .bi-linkedin:hover,
.footer-icons .bi-facebook:hover,
.footer-icons .bi-github:hover{
     text-shadow: 0 0 5px #e6b800;
     color: cyan;
}