.projects-section {
  max-width: 1200px;
    margin: 0 auto;
    /* display: flex;
    flex-wrap: wrap;
    align-items: center; */
    gap: 40px;
}

.projects-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #333;
  text-transform: uppercase;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 2fr));
  gap: 25px;
  padding: 0 20px;
}

.project-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #222;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
